.dmm-header {
  width: 100%;
  max-width: 108rem;
  padding: 0 4rem;
  margin: 0 auto 3.3rem;
  text-align: center;

  h2 {
    margin: 0;
    font-size: 4rem;
    font-weight: 400;
  }

  p {
    margin: 0;
    font-size: 1.6rem;
    font-weight: 300;
  }
}