@import '../../layout/variables.scss';

.toolbar {
  flex-direction: row !important;
  justify-content: flex-start !important;
  color: $primary !important;
  background-color: $primary !important;
}

.logoButton {
  color: $white !important;
  font-family: 'Raleway', 'Open Sans', 'Roboto', sans-serif !important;
  font-size: 18px !important;
}