@import '../../layout/variables.scss';

.toolbar {
  flex-direction: row !important;
  color: $primary !important;
  background-color: $primary !important;
}

.logoButton {
  color: $white !important;
  font-family: 'Raleway', 'Open Sans', 'Roboto', sans-serif !important;
  font-size: 18px !important;
}

.appButton {
  color: #FFF !important;
  font-family: 'Raleway', 'Open Sans', 'Roboto', sans-serif !important;
  font-size: 16px !important;
  margin-right: 64px !important;
  justify-self: flex-end;
}