@import '../../layout/variables.scss';

$loanItemHeight: 128;

:export {
  loanItemHeight: $loanItemHeight;
}

.collateralizationText {
  text-overflow: ellipsis;
}

.loanGrid {
  justify-content: center;
}

.layoutWrapper {
  min-height: 1px;
  min-width: 1px;
  margin-bottom: 72px; /* toolbar height + 16px of margin*/
}

.paperWrapper {
  background-color: $white;
  width: 100%;
  /*height: calc(100vh - $toolbar-height);*/
  height: 60vh;
  margin-bottom: 72px;
  flex: 1 !important;
}

.recycler {
  width: 100%;
  background-color: red;
  //margin-top: 100px;
  //width: 100%;
  //height: 60vh;
  //flex-grow: 1;
  //flex-shrink: 0;
}

.scrollableContainer {
  overflow: auto;
  height: 136px;
}

.loanContainer {
  padding-left: 16px;
  padding-right: 16px;
  min-width: 600px;
  height: 100%;
}

.loanLeftSide {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: flex-start;
}

.loanRightSide {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: flex-end;
  text-align: start;
}

.loanLeftSideItem {
  margin: 4px;
}

.loanRightSideItem {
  margin: 4px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #f2f3f2;
  margin-top: 11px;
}

.activeLoan {
  color: $green;
}

.closedLoan {
  color: $red;
}

.disabledButton {
  cursor: not-allowed;
  color: #C0C0C0;
  margin-top: 6px;
  margin-bottom: 6px;
}

@media (max-width: 600px) {
  .loanContainer {
    min-width: 350px;
    font-size: 0.8em;
    padding-left: 8px;
    padding-right: 8px;
  }

  .scrollableContainer {
    min-height: 100px;
    height: fit-content;
  }
  
  .loanRightSide {
    text-align: right;
  }
}