@import '../../layout/variables.scss';

.statsGrid {
  justify-content: center;
}

.statsPaper {
  max-width: 300px;
  margin: 8px;
  padding: 16px;
  min-height: 150px;
  min-width: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0,0,0,0.5) 1px 1px 8px -4px, rgba(0,0,0,0.5) 1px 1px 4px -4px !important;
}

.statsHeader {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.statsText {
  min-width: 275px;
  font-weight: 100;
}

.lastUpdatedHeader {
  margin-top: 24px !important;
  margin-bottom: -40px !important;
  text-align: left;
  padding-left: 6px;
  font-weight: 100;
  color: black;

  h6 {
    font-weight: 100;

    b {
      font-weight: 400;
    }
  }
}